@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* shared styles */
.container {
  max-width: 1100px;
  height: auto;
  margin: 50px auto;
}

.btn_primary {
  border-radius: 20px;
  color: white;

  background: rgb(224, 44, 109);
  width: 196px;
  height: 44px;
  margin-top: 20px;
}
.display_flex {
  display: flex;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  /* line-height: 36px; */
  letter-spacing: 0px;
  text-align: left;
}

/* navbar styles */
.navbar {
  justify-content: space-between;
}

.nav_option {
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}

.hamburger{
  display: none;
}

h3{
  color: rgb(58, 58, 58);

  font-size: 3rem;
  font-weight: 700;
  line-height: 70px;

  text-align: left;
}

.banner_img {
  background-image: url("/images/Circle\ design.svg");
}
.banner_container {
  /* justify-content: center; */
  align-items: center;
}

.logos_container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-around;
  align-items: center;
}

.card_container {
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 10px auto;
  gap: 20px;
  width: 100%;
}


.interaldisplay_flex {

  display: flex;
  flex-direction: column;
  line-height: 60px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  width: 100%;
  padding: 20px;}


.card_container p {
  color: rgb(120, 120, 133);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 700;
 
 
  text-align: left;
}
.features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 30px;
}

.features_text {
  text-align: left;
}

.join_btn {
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 1rem;
}

.footer {
  color: white;
  text-align: center;
  height: 200px;
  padding-top: 50px;

  background: rgb(10, 31, 51);
}
.hidden {
  display: none;
}





@media screen and (max-width: 576px) {
  .navbar{
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px 20px;
    margin: 0 auto;
  }




  .btn_primary {
    font-size: 1rem;
    font-weight: 600;
    border: none;
  }

  .nav_option {
    display: none;
  }

  .hamburger { 
    font-size: 1.5rem;
    display: block;
  }


  #title {
    font-size: 1.5rem;
  }

  .banner_container{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }

  .banner_container img{
    width: 80%;
  }

  .banner_content{
    margin-top: 50px;
    font-size: 2rem;
  }

  .banner_content p{
    font-size: 2rem;
  }

  .banner_content,
  .banner_content h3 {
    text-align: center;
  }

  .logos_container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    padding-left: 50px;
  }
  .popular{
    margin-top: 50px;
    font-size: 2rem;
  }
  .card_container {
    flex-direction: column;
  }
  .card_container h4 {
    font-size: 2rem;
    font-weight: 700;
  }
  .features {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .features_text,
  .features_text h4 {
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .features_text p {
    text-align: center;
  }
  .footer {
    margin: 20px auto;
  }
  .background_img {
    width: 100%r;
  }
  .join_btn{
    font-size: 1rem;
    font-weight: 600;
  }
}
