@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}



/* shared styles */
.container {
  max-width: 1100px;
  height: auto;
  margin: 50px auto;
}

.btn_primary {
  border-radius: 20px;
  color: white;

  background: rgb(224, 44, 109);
  width: 196px;
height: 44px;
margin-top: 20px;
}
.display_flex {
  display: flex;
}

h4{
  font-size: 1.5rem;
  font-weight: 700;
  /* line-height: 36px; */
  letter-spacing: 0px;
  text-align: left;
}

/* navbar styles */
.navbar {
  justify-content: space-between;
}

.nav_option {
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}

#hamburger{display: none;
  
}
h3{
  color: rgb(58, 58, 58);

font-size: 3rem;
font-weight: 700;
line-height: 70px;
letter-spacing: 0px;
text-align: left;
}

.banner_img{
  background-image: url('/images/Circle\ design.svg');
}
.banner_container{
  /* justify-content: center; */
  align-items: center;
}

.logos_container{
  justify-content: space-around;
  align-items: center;
}

.card_container{
  justify-content: center;
  align-items: center;
}

.interaldisplay_flex{
  flex-direction: column;
}

.card_container p{
  color: rgb(120, 120, 133);
font-family: Inter;
font-size: 14px;
font-weight: 700;
line-height: 143%;
letter-spacing: 1.8%;
text-align: left;
}


@media screen and (max-width:576px){
  .nav_option{
    display: none;
  }
  #hamburger{
    
    display: block;
  }
}
